@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

.navbar{
    background-color: #90EE90;
}

.font{
    color: black;

    font-family: 'Public Sans', sans-serif;
}
