@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');


.pew{
    margin-top: 3;
    text-align: center;
}
.btn-primary {
    background-color: green;
}
.img{
    margin-top: 29px;
}